.why {
  width: 400px;
  height: 400px;
}

body {
  background-color: rgba(90, 90, 0, .25);
}

.baaad {
  text-decoration: underline;
}
#loady {
  text-align: center;
  padding-bottom: 100px;
  color: rgb(175,255,242)
}

.marginy {
  padding: 45px;
  border-style: solid;
  border: color blue;
  width: 600px;
  margin-left: 15px;
}

p {
  font-size: 20px;
}

#fancy {
  font-size: 20px;
  padding: 100px;
  text-align: center;
  border-style: dotted;
  border-color: rgba(100,0,50,.5);
  border-width: 15px;
  margin: 100px;
  background-color: rgba(50,85,220,.25);
}
ol {
  display: inline-block; text-align: left;
}

.my-row {
  float:center;
  height: 100px;
  width: 964px
}

.my-container {
  border: solid green;
  height: 600px;
}

.my-col {
  border: solid blue;
  height: 80px;
  padding: 20px;
  margin: 5px;
}
.weird {
  padding: 100px;
}
#resize {
  text-align: center;
}
#BOLD {
  font-size: 30px
}
.fixing {
  background-color:highlight;
  padding-top: 10px;
  margin: 5px;
}
